{% extends 'base.html.twig' %}

{% block title %} Ajouter une addresse -Boutiquenaglaa{% endblock %}

{% block content %}
<h1>Mes address</h1>
<a href="{{ path('account') }}"/>Retour</a>
<hr>
{{form(form)}}

{% endblock %}
